{{>header}}

<div id="new-book" class="ui segment container">
    <form action="/editfilm" method="post" class="ui form">
        <input type="hidden" name="id" value="{{film.id}}" />
        <h2>New Film</h2>
        <div class="field">
            <label>Title </label>
            <input name="title" value="{{film.title}}" placeholder="A title" />
        </div>
        <div class="field">
            <label>Year</label>
            <input name="year" value="{{film.year}}" placeholder="A year" />
        </div>
        <div class="field">
            <label>Image url </label>
            <input name="url" value="{{film.url}}" placeholder="An URL for poster image" />
        </div>
        <div class="field">
            <label>Synopsis </label>
            <textarea name="synopsis" placeholder="A synopsis of film">{{film.synopsis}}</textarea>
        </div>
        <p>
            <button id="cancel" class="ui button" onclick="location.href='/films/{{film.id}}';">Cancel</button>
            <input class="ui button orange" type="submit" id="Save" value="Save" />
        </p>
    </form>
</div>

{{>footer}}