{{>header}}

<div class="ui segment container">

    <h1 class="ui header">All films - V2</h1>

    <div class="ui grid">
        {{#films}}
        <div class="two wide column film ">
            <img class="ui image poster" src="{{url}}">
            <span class="film-details">
				<a class="film-title" href="/films/{{id}}">{{title}}</a>
				<br>
				<span class="year">{{year}}</span>
            </span>
        </div>
        {{/films}}
    </div>

    <button id="create-film" class="ui button orange-block" onclick="location.href='/newfilm'">New film</button>
</div>

{{>footer}}